$dark: $color-main;
      
@mixin btn($left, $top) {
    display: none;
    z-index: 150;
    position: fixed;
    width: 40px;
    height: 40px;
    top: $top;
    right: $left;
    transition-duration: 0.5s;
    cursor: pointer;
    @include tablet {
        display: block;
    }
}
  
@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}
  
 
  
.burger{
  @include btn(5%, 5%);
  
  .icon {
    @include icon(5px, 40px);
    
    &:before{
      @include icon-before(5px, 40px, -15px);
    }
    
    &:after{
      @include icon-after(5px, 40px, 15px);
    }
  }
  
  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(8px, 8px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}