.navbar {
    z-index: 150;
    transform: translateX(-100%);
    display: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    width: 70%;
    height: 100%;
    background-color: rgba(17, 17, 17, .99);
    border-radius: 5px;
    padding: 30px 20px;
    transition: $transition;
    &-nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &--active {
        transform: translateX(0%);
    }
    @include tablet {
        display: flex;
    }
}