.about {
    margin-top: 90px;
    margin-bottom: 160px;
    &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: rem(40);
        @include tablet {
            justify-content: center;
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 30px;
            @include mobile {
                flex-wrap: wrap;
                &:last-child {
                    flex-wrap: wrap-reverse;
                }
            }
        }
        &__count {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 70px;
            height: 70px;
            background-color: $color-main;
            color: $color-white;
            border-radius: 2px;
            span {
                font-weight: $fw-bold;
                font-size: 32px;
            }
        }
        &__descr {
            z-index: 11;
            max-width: 715px;
            &--right {
                margin-right: -12%;
                @include tablet {
                    margin-right: 0%;
                }
            }
            &--left {
                margin-left: -12%;
                @include tablet {
                    margin-left: 0%;
                }
            }
        }
        &__img {
            box-shadow: $inner-shadow;
            max-width: 456px;
            max-height: 312px;
            clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
            img {
                object-position: bottom;
            }
            @include tablet {
                display: none;
            }
        }
    }
    &-video {
        box-shadow: $inner-shadow;
        border-radius: 5px;
        overflow: hidden;
        height: 500px;
        @include mobile {
            height: 300px;
        }
        &__video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}