.footer {
    background-color: $color-black-700;
    &--wrapper {
        color: #595959;
    }
    &-top {
        padding: 56px 0px 70px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        border-bottom: 1px solid #595959;
        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
        }
    }
    &-about {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        font-weight: $fw-regular;
        &__item:first-child {
            font-size: $fz-l;
        }
        &__item {
            cursor: pointer;
            text-align: start;
            font-size: $fz-m;
        }
        @include tablet {
            align-items: inherit;
        }
    }
    &-bottom {
        padding: 27px 0 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 30px;
        }
        &__address {
            font-style: normal;
            font-size: $fz-m;
        }
        &__nav {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &__link {
            svg {
                path {
                    fill: #595959;
                }
            }
        }
    }
}