.hero {
    position: relative;
    height: 85vh;
    z-index: 9;
    &-text__stroke {
        color: $color-black-900;
        background-color: #fff;
    }
    &-content {
        position: relative;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        min-width: 100%;
        height: 100%;
        &::after {
            content: "";
            z-index: 8;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0, .5);
        }
        &__text {
            text-transform: uppercase;
        }
        &--wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
        }
        &__decr {
            max-width: 450px;
        }
    }
    &-social {
        position: absolute;
        right: 0;
        top: 50%;
        display: flex;
        gap: 36px;
        transform: rotate(90deg) translateY(-50%) ;
        &__link {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        @include tablet {
            display: none;
        }
    }
}