$color-main: #e52626;
$color-black-900: #000;
$color-white: #fff;
$color-black-700: rgba(17, 17, 17, .7);
$color-modal: #2d2d2d;
$color-modal-stroke: #7d7d7d;

$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;

$fz-xxl: rem(80);
$fz-xl: rem(45);
$fz-l: rem(34);
$fz-m: rem(24);

$inner-shadow: inset 30px 30px 20px rgba(0, 0, 0, 0.4);

$transition: .25s cubic-bezier(.57,.21,.69,1.25);

$container: 1250px;